<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <!--
     <link rel="stylesheet" href="http://localhost:3000/css/bootstrap/testSCSS.css" type="text/css"/>
    <link rel = "stylesheet"
          href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js" defer></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script src="/javascripts/materialBundle.js"></script>-->
    <link href="http://localhost:3000/style.css" rel="stylesheet" />
</head>
<body ng-app></body>
<!--<body ng-app = "materialModule">
<div ng-controller = "materialCtrl as ctrl" layout = "column">
    <md-content class = "md-padding">
        <form ng-submit = "$event.preventDefault()">
            <md-button class = "md-raised md-primary" ng-click = "openBottomSheet()">
                Open Bottom Sheet!
            </md-button>
        </form>
            <md-nav-bar
                    md-no-ink-bar="disableInkBar"
                    md-selected-nav-item="currentNavItem"
                    nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('page1')" name="page1">
                    Page One
                </md-nav-item>
                <md-nav-item md-nav-click="goto('page2')" name="page2">
                    Page Two
                </md-nav-item>
                <md-nav-item md-nav-click="goto('page3')" name="page3">
                    Page Three
                </md-nav-item>
                <!-- these require actual routing with ui-router or ng-route, so they
                won't work in the demo
                <md-nav-item md-nav-href="#page4" name="page5">Page Four</md-nav-item>
                <md-nav-item md-nav-sref="app.page5" name="page4">Page Five</md-nav-item>
                You can also add options for the <code>ui-sref-opts</code> attribute.
                <md-nav-item md-nav-sref="page6" sref-opts="{reload:true, notify:true}">
                  Page Six
                </md-nav-item>

            </md-nav-bar>
            <div class="ext-content">
                External content for `<span>{{currentNavItem}}</span>`.
            </div>

            <md-checkbox ng-model="disableInkBar">Disable Ink Bar</md-checkbox>
    </md-content>
</div>-->

<nav class="{{active}}" ng-click="$event.preventDefault()">

    <!-- When a link in the menu is clicked, we set the active variable -->

    <a href="#" class="home" ng-click="active='home'">Home</a>

    <a href="#" class="about" ng-click="active='about'">About</a>
    <a href="#" class="contact" ng-click="active='contact'">Contact</a>
</nav>

<!-- ng-show will show an element if the value in the quotes is truthful,
     while ng-hide does the opposite. Because the active variable is not set
     initially, this will cause the first paragraph to be visible. -->


<p ng-show="active">You chose <b>{{active}}</b></p>

</body>
</html>