<div id="welcomeID" class="alert alert-secondary text-center">
    <strong>Welcome to the site. You can learn statistics about your job.</strong>
</div>
<br>
<div id="formEmailId">
    <form id="form" name="form" class="form-control">
        <md-input-container class = "md-block">
            <label>Email</label>
            <input required type="text" id="email" name="email" class="form-control" ng-model="email" >
            <div ng-messages = "form.email.$error">
                <div ng-message = "required">This is required.</div>
            </div>
        </md-input-container>
        <div class="text-right">
            <button id="formBtn" type="button" class="btn-success" ng-click="sendEmail()">Submit</button>
        </div>
    </form>
</div>
<br>
<div id="wrongEmailID">
    <div ng-show="emailWarning" class="alert alert-danger text-center">
        <strong>Please type in your correct email address.</strong>
    </div>
</div>
<div id="cookieAlert" >
    <div ng-show="showAlert == true" class="alert alert-secondary alert-dismissible text-center">
        <button type="button" class="close" ng-click="showAlert = false">&times;</button>
        <strong>Attention!</strong> The website use a cookie, accept to use the website functions.
        <button type="button" class="btn btn-dark" ng-click="cookieAccepted()">Accept.</button>
    </div>
</div>