<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/probaChartSBundle.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <title>My Chart.js Chart</title>
</head>
<body ng-app="probaChart" ng-controller="probaChartCtrl">
<div class="container">
    <canvas id="myChart"></canvas>
</div>
<button ng-click="chart()">chart</button>
<button ng-click="calculate()">chart</button>
<img id="url">
</body>
</html>